.stream-table {
    width: 10%;
    margin-bottom: 41px;
    margin-left: -20px;
}

.page-actions {
    float: right;
    /*display: none;*/
    margin-top: 25px;
}

.gradovDzenTreningi {
    width: 10%;
}
